In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dataset_scrap_v2A.csv')

In [3]:
# df = df[:1000]

In [4]:
df.head()

,Unnamed: 0,Job Profile,Company,ExperienceRequired,AvgSalary,MinSalary,MaxSalary
0,0,System Engineer,tcs,0-10,"5,94,125",2.0,11.2
1,1,IT Analyst,tcs,3-11,"9,05,500",3.4,20.5
2,2,AST Consultant,tcs,6-15,"14,59,521",4.0,29.8
3,3,Assistant System Engineer,tcs,0-4,"3,95,563",2.5,5.9
4,4,Associate Consultant,tcs,4-21,"18,13,704",3.8,34.2

In [5]:
df = df.drop('Unnamed: 0', axis=1) 
df = df.reset_index(drop=True)

In [6]:
df.shape

(5000, 6)

In [7]:
df.isna().sum()

Job Profile             0
Company                 0
ExperienceRequired      0
AvgSalary               0
MinSalary             699
MaxSalary             699
dtype: int64

In [8]:
df['ExperienceRequired'].value_counts()

ExperienceRequired
0-6      325
0-5      249
0-8      221
0-7      218
0-4      182
        ...
11-25      1
13-21      1
0-18       1
2-19       1
17-25      1
Name: count, Length: 221, dtype: int64

In [9]:
df['ExperienceRequired'].shape

(5000,)

In [10]:
import pandas as pd
import re

# Assuming you have 'df' defined with the 'ExperienceRequired' column containing ranges and dates

# Clean 'ExperienceRequired' column to keep only valid ranges
def clean_experience(exp):
    if re.match(r'\d+\s+[a-z]+', exp):  # Handle dates like "2 june" or "3 aug"
        return None, None  # Remove rows with dates
    exp = re.sub(r'\D', ' ', exp)
    exp = exp.strip().split()
    if len(exp) == 1:
        return int(exp[0]), int(exp[0])  # If single value, set as min and max
    elif len(exp) == 2:
        return int(exp[0]), int(exp[1])  # If range, set as min and max
    return None, None  # Invalid format

# Apply the cleaning function to 'ExperienceRequired' column and split into min and max columns
df[['MinExperience', 'MaxExperience']] = df['ExperienceRequired'].apply(lambda x: pd.Series(clean_experience(x)))

# Calculate the median of available cleaned experience values
cleaned_experiences = df['MinExperience'].dropna()  # You can use 'MaxExperience' as well
median_experience = cleaned_experiences.median()

# Impute missing values with the calculated median
df['MinExperience'].fillna(median_experience, inplace=True)
df['MaxExperience'].fillna(median_experience, inplace=True)

# Drop rows with None values (dates or unparseable entries)
df.dropna(subset=['MinExperience', 'MaxExperience'], inplace=True)

KeyboardInterrupt:

In [ ]:
df.head()

In [ ]:
df=df.drop('ExperienceRequired',axis=1)
df=df.reset_index(drop=True)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df['MinSalary'].value_counts()

In [ ]:
max_salary_column = df['MaxSalary'].values.reshape(-1, 1)  # Reshape to create a 2D array
min_salary_column = df['MinSalary'].values.reshape(-1, 1)  # Reshape to create a 2D array

In [ ]:
max_salary_column.shape
min_salary_column.shape

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
min_salary_imputed = imputer.fit_transform(min_salary_column)

In [ ]:
df['MinSalary'] = min_salary_imputed

# df.head()
# min_salary_imputed

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
max_salary_imputed = imputer.fit_transform(max_salary_column)

In [ ]:
df['MaxSalary'] = max_salary_imputed

max_salary_imputed

In [ ]:
df.isna().sum()    ## here as you can see our dataset has no nan values and it is cleaned all missing values imputed with mean

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.isna().sum()

In [ ]:
df.head()

In [ ]:
df['AvgSalary'] = df['AvgSalary'].str.replace(',', '').astype(int)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df['AvgSalary'].sample

In [ ]:
df['Company'] = df['Company'].str.strip().str.lower()

In [ ]:
df.head()

In [ ]:
unique_job_profiles = df['Job Profile'].unique()
for i in unique_job_profiles:
    print(i)

# EDA  - Univariate Analysis

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 8))
top_n = 25  # Choose the number of top categories to display
top_job_profiles = df['Job Profile'].value_counts().head(top_n)
sns.barplot(x=top_job_profiles.values, y=top_job_profiles.index)
plt.title(f'Top {top_n} Job Profiles')
plt.xlabel('Frequency')
plt.ylabel('Job Profile')
plt.tight_layout()
plt.show()

In [ ]:
# Clean up company names by removing leading/trailing spaces and making them lowercase
df['Company'] = df['Company'].str.strip().str.lower()

plt.figure(figsize=(12, 8))  # Increase figure size for better spacing
top_n = 15  # Choose the number of top companies to display
top_companies = df['Company'].value_counts().head(top_n)
sns.barplot(x=top_companies.index, y=top_companies.values)
plt.title(f'Top {top_n} Companies')
plt.xlabel('Company')
plt.ylabel('Frequency')
plt.xticks(rotation=45, ha='right')  # Rotate and align the labels for better readability
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 6))
sns.histplot(data=df, x='AvgSalary', bins=20, kde=True)
plt.title('Distribution of Average Salary')
plt.xlabel('Average Salary (INR)')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df['MinExperience'], bins=20, edgecolor='black')
plt.title('Distribution of MinExperience')
plt.xlabel('MinExperience')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

plt.figure(figsize=(10, 6))
plt.hist(df['MaxExperience'], bins=20, edgecolor='black')
plt.title('Distribution of MaxExperience')
plt.xlabel('MaxExperience')
plt.ylabel('Frequency')
plt.tight_layout()
plt.show()

# EDA- Bivariate analysis

In [ ]:
df.plot.scatter(x='MinExperience', y='AvgSalary', figsize=(10, 6))
plt.title('Relationship between Min Experience and Average Salary')
plt.xlabel('Minimum Experience (years)')
plt.ylabel('Average Salary (INR)')
plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.scatterplot(x='MinExperience', y='AvgSalary', data=df, hue='Job Profile')
plt.title('Relationship between Min Experience and Average Salary')
plt.xlabel('Minimum Experience (years)')
plt.ylabel('Average Salary (INR)')
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
top_n = 15  # Choose the number of top companies to display
top_companies = df.groupby('Company')['MaxSalary'].mean().sort_values(ascending=False).head(top_n)
top_companies.plot(kind='bar')
plt.title(f'Top {top_n} Companies with Highest maximum Salary')
plt.xlabel('Company')
plt.ylabel('Maximum Salary (INR)')
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
top_n = 15  # Choose the number of top job profiles to display
top_max_salary_by_job = df.groupby('Job Profile')['MaxSalary'].max().sort_values(ascending=False).head(top_n)

plt.figure(figsize=(12, 8))
ax = sns.barplot(x=top_max_salary_by_job.index, y=top_max_salary_by_job.values)
plt.title(f'Top {top_n} Job Profiles by Maximum Salary', pad=20)
plt.xlabel('Job Profile')
plt.ylabel('Maximum Salary (INR)')
plt.xticks(rotation=45, ha='right', rotation_mode='anchor')  # Adjust rotation
plt.tight_layout()
plt.show()

In [ ]:
# Grouping and Aggregation
avg_salary_by_job = df.groupby('Job Profile')['AvgSalary'].mean()

# Sorting in descending order
avg_salary_by_job = avg_salary_by_job.sort_values(ascending=False)

top_n = 15  # Choose the number of top job profiles to display
top_avg_salary_by_job = avg_salary_by_job.head(top_n)

plt.figure(figsize=(12, 8))
sns.barplot(x=top_avg_salary_by_job.index, y=top_avg_salary_by_job.values)
plt.title(f'Top {top_n} Job Profiles by Average Salary',pad=20)
plt.xlabel('Job Profile')
plt.ylabel('Average Salary (INR)')
plt.xticks(rotation=45, ha='right', rotation_mode='anchor')
plt.tight_layout()
plt.show()

In [ ]:
import numpy as np

# Choose the number of top job profiles to display
top_n = 10

# Get the top job profiles
top_job_profiles = avg_salary_by_job.head(top_n).index

# Filter the data for the top job profiles
top_profiles_data = df[df['Job Profile'].isin(top_job_profiles)]

plt.figure(figsize=(12, 8))
sns.boxplot(data=top_profiles_data, x='Company', y='AvgSalary')
plt.title(f'Companies Paying Highest Salaries for Top {top_n} Job Profiles')
plt.xlabel('Company')
plt.ylabel('Average Salary (INR)')
plt.xticks(rotation=45, ha='right', rotation_mode='anchor')  # Adjust rotation
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'df' is your DataFrame with columns 'Job Profile', 'Company', and 'AvgSalary'

# Filter and sort the top job profiles
top_job_profiles = df['Job Profile'].value_counts().head(10).index

# Create facet grid plots for each job profile
g = sns.FacetGrid(df[df['Job Profile'].isin(top_job_profiles)], col='Job Profile', col_wrap=5, height=4, sharey=False)
g.map(sns.violinplot, 'Company', 'AvgSalary', order=top_companies.index)
g.set_xticklabels(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming 'df' is your DataFrame with columns 'Job Profile', 'Company', and 'AvgSalary'

# Filter and sort the top job profiles
top_job_profiles = df['Job Profile'].value_counts().head(10).index

# Create facet grid plots for each job profile
g = sns.FacetGrid(df[df['Job Profile'].isin(top_job_profiles)], col='Job Profile', col_wrap=5, height=4, sharey=False)
g.map(sns.violinplot, 'Company', 'AvgSalary')
g.set_xticklabels(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Choose the number of top job profiles to display
top_n = 10

# Get the top job profiles
top_job_profiles = avg_salary_by_job.head(top_n).index

# Filter the data for the top job profiles
top_profiles_data = df[df['Job Profile'].isin(top_job_profiles)]

plt.figure(figsize=(12, 8))
sns.violinplot(data=top_profiles_data, x='Company', y='AvgSalary')
plt.title(f'Companies Paying Highest Salaries for Top {top_n} Job Profiles')
plt.xlabel('Company')
plt.ylabel('Average Salary (INR)')
plt.xticks(rotation=45, ha='right', rotation_mode='anchor')  # Adjust rotation
plt.tight_layout()
plt.show()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Choose the number of top job profiles to display
top_n = 10

# Get the top job profiles
top_job_profiles = avg_salary_by_job.head(top_n).index

# Filter the data for the top job profiles
top_profiles_data = df[df['Job Profile'].isin(top_job_profiles)]

plt.figure(figsize=(12, 8))
sns.violinplot(
    data=top_profiles_data,
    x='Job Profile',
    y='AvgSalary',
    hue='Company',
)
plt.title(f'Companies Paying Highest Salaries for Top {top_n} Job Profiles')
plt.xlabel('Job Profile')
plt.ylabel('Average Salary (INR)')
plt.xticks(rotation=45, ha='right', rotation_mode='anchor')  # Adjust rotation
plt.tight_layout()
plt.show()

In [ ]:
df.head()