In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dataset_scrap_v2A.csv')

In [3]:
# df = df[:1000]

In [4]:
df.head()

,Unnamed: 0,Job Profile,Company,ExperienceRequired,AvgSalary,MinSalary,MaxSalary
0,0,System Engineer,tcs,0-10,"5,94,125",2.0,11.2
1,1,IT Analyst,tcs,3-11,"9,05,500",3.4,20.5
2,2,AST Consultant,tcs,6-15,"14,59,521",4.0,29.8
3,3,Assistant System Engineer,tcs,0-4,"3,95,563",2.5,5.9
4,4,Associate Consultant,tcs,4-21,"18,13,704",3.8,34.2

In [7]:
df.isna().sum()

Job Profile             0
Company                 0
ExperienceRequired      0
AvgSalary               0
MinSalary             699
MaxSalary             699
dtype: int64

In [15]:
df.columns

Index(['Job Profile', 'Company', 'AvgSalary', 'MinSalary', 'MaxSalary',
       'MinExperience', 'MaxExperience'],
      dtype='object')

In [24]:
df.describe()

         MinSalary    MaxSalary  MinExperience  MaxExperience
count  5000.000000  5000.000000    5000.000000    5000.000000
mean      3.307045    12.017996       2.170800       9.223400
std       2.647759     9.388879       2.938597       4.432541
min       1.000000     2.300000       0.000000       1.000000
25%       1.800000     5.600000       0.000000       6.000000
50%       2.700000     9.650000       1.000000       8.000000
75%       3.500000    13.500000       3.000000      12.000000
max      30.000000    99.000000      31.000000      33.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Job Profile    5000 non-null   object
 1   Company        5000 non-null   object
 2   AvgSalary      5000 non-null   object
 3   MinSalary      5000 non-null   float64
 4   MaxSalary      5000 non-null   float64
 5   MinExperience  5000 non-null   float64
 6   MaxExperience  5000 non-null   float64
dtypes: float64(4), object(3)
memory usage: 273.6+ KB

In [26]:
df.isna().sum()

Job Profile      0
Company          0
AvgSalary        0
MinSalary        0
MaxSalary        0
MinExperience    0
MaxExperience    0
dtype: int64

In [27]:
df.head()

,Job Profile,Company,AvgSalary,MinSalary,MaxSalary,MinExperience,MaxExperience
0,System Engineer,tcs,"5,94,125",2.0,11.2,0.0,10.0
1,IT Analyst,tcs,"9,05,500",3.4,20.5,3.0,11.0
2,AST Consultant,tcs,"14,59,521",4.0,29.8,6.0,15.0
3,Assistant System Engineer,tcs,"3,95,563",2.5,5.9,0.0,4.0
4,Associate Consultant,tcs,"18,13,704",3.8,34.2,4.0,21.0

In [45]:
from sklearn.preprocessing import LabelEncoder

# Create a LabelEncoder instance
label_encoder = LabelEncoder()

# Convert categorical columns to numerical using label encoding
df['Company_Job'] = label_encoder.fit_transform(df['Job_Company'])

In [66]:
df.shape
df.head()

   AvgSalary  MinSalary  MaxSalary  AvgExperience  Company_Job
0     594125        2.0       11.2            5.0         4440
1     905500        3.4       20.5            7.0         1840
2    1459521        4.0       29.8           10.5           13
3     395563        2.5        5.9            2.0          396
4    1813704        3.8       34.2           12.5          448

In [48]:
list1 = df['Job_Company'].to_list()
list2 = df['Company_Job'].to_list()
list1[0], list2[0]

('System Engineer_tcs', 4440)

In [1]:
job_label = {}

for i in range(len(list1)):
    job_label[list1[i]] = list2[i]

NameError: name 'list1' is not defined

In [ ]:
job_label['Team Lead_meesho']
len(job_label)

In [68]:
file_name = "job_comp.json"
with open(file_name, 'w') as file:
    json.dump(job_, file)

      AvgSalary  MinSalary  MaxSalary  AvgExperience  Company_Job
4990     465181        3.6        6.0            3.0         4832
4991     440774        3.0        6.0           21.0         2137
4992     342514        2.5        4.1            3.0         1018
4993     294340        1.5        4.5            4.0         3026
4994     286318        1.7        4.0           14.0          200
4995    2634282       15.1       35.0            7.5         4716
4996     369661        2.5        5.0            4.0         2957
4997     453259        3.0        6.1           13.0         4084
4998     516719        2.4        8.0            0.5         4817
4999     840445        4.2       12.6            3.0         2140

In [57]:
df.drop('Job_Company',axis=1, inplace=True)

df.dtypes

AvgSalary          int32
MinSalary        float64
MaxSalary        float64
AvgExperience    float64
Company_Job        int32
dtype: object

In [58]:
X = df.drop('AvgSalary', axis=1)  # Features
y = df['AvgSalary']  # Target variable

In [59]:
X.head()

   MinSalary  MaxSalary  AvgExperience  Company_Job
0        2.0       11.2            5.0         4440
1        3.4       20.5            7.0         1840
2        4.0       29.8           10.5           13
3        2.5        5.9            2.0          396
4        3.8       34.2           12.5          448

In [60]:
y.head()

0     594125
1     905500
2    1459521
3     395563
4    1813704
Name: AvgSalary, dtype: int32

In [162]:
from sklearn.preprocessing import MinMaxScaler
sclr = MinMaxScaler()
X_desired = sclr.fit_transform(X)
X_desired

array([[0.03448276, 0.09203723, 0.14516129, 0.89660743],
       [0.08275862, 0.18821096, 0.20967742, 0.37156704],
       [0.10344828, 0.28438469, 0.32258065, 0.0026252 ],
       ...,
       [0.06896552, 0.03929679, 0.40322581, 0.82471729],
       [0.04827586, 0.05894519, 0.        , 0.97273829],
       [0.11034483, 0.10651499, 0.08064516, 0.43214863]])

In [163]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
print(X_scaled)

[[-0.49369125 -0.08713262 -0.201037    1.37078493]
 [ 0.0351106   0.90350006  0.37574394 -0.44848466]
 [ 0.26173997  1.89413275  1.38511059 -1.72687141]
 ...
 [-0.11597564 -0.6303828   2.10608677  1.12168494]
 [-0.342605   -0.42799548 -1.49879411  1.63457902]
 [ 0.33728309  0.06199488 -0.77781794 -0.23856894]]

In [69]:
from sklearn.model_selection import train_test_split

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shapes of the train and test sets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (4000, 4)
X_test shape: (1000, 4)
y_train shape: (4000,)
y_test shape: (1000,)

In [71]:
missing_values = np.isnan(X_train)
missing_values_count = np.sum(missing_values)

print("Number of missing values in X_train: \n", missing_values_count)

Number of missing values in X_train:
 MinSalary        0
MaxSalary        0
AvgExperience    0
Company_Job      0
dtype: int64

# Correlation analysis

In [73]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Linear Regression
linear_reg_model = LinearRegression()
linear_reg_model.fit(X_train, y_train)
linear_reg_pred = linear_reg_model.predict(X_test)
linear_mse = mean_squared_error(y_test, linear_reg_pred)
linear_mae = mean_absolute_error(y_test, linear_reg_pred)
linear_r2 = r2_score(y_test, linear_reg_pred)

# Random Forest Regression
rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
rf_mse = mean_squared_error(y_test, rf_pred)
rf_mae = mean_absolute_error(y_test, rf_pred)
rf_r2 = r2_score(y_test, rf_pred)

# Support Vector Regression
svr_model = SVR()
svr_model.fit(X_train, y_train)
svr_pred = svr_model.predict(X_test)
svr_mse = mean_squared_error(y_test, svr_pred)
svr_mae = mean_absolute_error(y_test, svr_pred)
svr_r2 = r2_score(y_test, svr_pred)

print("Linear Regression:")
print("Mean Squared Error:", linear_mse)
print("Mean Absolute Error:", linear_mae)
print("R-squared:", linear_r2)

print("\nRandom Forest Regression:")
print("Mean Squared Error:", rf_mse)
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

print("\nSupport Vector Regression:")
print("Mean Squared Error:", svr_mse)
print("Mean Absolute Error:", svr_mae)
print("R-squared:", svr_r2)

Linear Regression:
Mean Squared Error: 84616606548.19875
Mean Absolute Error: 143962.14363490613
R-squared: 0.7788261714771468

Random Forest Regression:
Mean Squared Error: 69669145307.07037
Mean Absolute Error: 89062.33931
R-squared: 0.8178963654291365

Support Vector Regression:
Mean Squared Error: 433886034970.263
Mean Absolute Error: 374456.7773417686
R-squared: -0.1341064054880423

In [74]:
print("Random Forest Regression:")
print(f"Mean Squared Error: {rf_mse}")
print(f"Mean Absolute Error: {rf_mae}")
print(f"R-squared: {rf_r2}")

Random Forest Regression:
Mean Squared Error: 69669145307.07037
Mean Absolute Error: 89062.33931
R-squared: 0.8178963654291365

In [75]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Create a new Random Forest Regressor with the best hyperparameters
best_rf_model = RandomForestRegressor(
    n_estimators=300,
    min_samples_split=2,
    min_samples_leaf=4,
    max_depth=20
)

# Train the model on the training data
best_rf_model.fit(X_train, y_train)

# Make predictions on the test data
rf_pred = best_rf_model.predict(X_test)

# Calculate evaluation metrics
rf_mse = mean_squared_error(y_test, rf_pred)
rf_mae = mean_absolute_error(y_test, rf_pred)
rf_r2 = r2_score(y_test, rf_pred)

# Print the evaluation metrics
print("Random Forest Regression:")
print("ROOT Mean Squared Error:", np.sqrt(rf_mse))
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

Random Forest Regression:
ROOT Mean Squared Error: 257370.0900613307
Mean Absolute Error: 88014.09732626066
R-squared: 0.8268612490104759

In [76]:
best_rf_model = RandomForestRegressor(n_estimators=300, min_samples_split=2, min_samples_leaf=4, max_depth=20)
best_rf_model.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, min_samples_leaf=4, n_estimators=300)

In [77]:
predicted_avg_salary = best_rf_model.predict(X_test)

In [78]:
comparison = pd.DataFrame({'Actual AvgSalary': y_test, 'Predicted AvgSalary': predicted_avg_salary})
print(comparison)

      Actual AvgSalary  Predicted AvgSalary
1501           1095900         1.052949e+06
2586            467380         5.107394e+05
2653            858310         7.999252e+05
1055           2135528         2.000644e+06
705             447022         5.045008e+05
...                ...                  ...
4711            199771         3.485770e+05
2313           1871584         1.799783e+06
3214            161619         4.761438e+05
2732            921350         9.161415e+05
1926            926299         9.331697e+05

[1000 rows x 2 columns]

In [79]:
for i in range(10):
    print(predicted_avg_salary[i])

1052949.3014081845
510739.3996914857
799925.2443836897
2000644.4529971732
504500.78915476997
231987.1672114091
258201.79746369875
998868.092914493
324414.98904123757
259579.51425316473

In [82]:
print(y_test)

1501    1095900
2586     467380
2653     858310
1055    2135528
705      447022
         ...
4711     199771
2313    1871584
3214     161619
2732     921350
1926     926299
Name: AvgSalary, Length: 1000, dtype: int32

In [83]:
from sklearn.metrics import confusion_matrix, accuracy_score,r2_score
ac = r2_score(y_test,predicted_avg_salary)
print(ac)

0.8256573318227556

In [87]:

# Calculate evaluation metrics
rf_mse = mean_squared_error(y_test, predicted_avg_salary)
rf_mae = mean_absolute_error(y_test, predicted_avg_salary)
rf_r2 = r2_score(y_test, predicted_avg_salary)

# Print the evaluation metrics
print("Random Forest Regression:")
print("Root Mean Squared Error:", np.sqrt(rf_mse))
print("Mean Absolute Error:", rf_mae)
print("R-squared:", rf_r2)

Random Forest Regression:
Root Mean Squared Error: 258263.34907993284
Mean Absolute Error: 87504.55754512544
R-squared: 0.8256573318227556

## MVLR

In [88]:
comparison.head()

      Actual AvgSalary  Predicted AvgSalary
1501           1095900         1.052949e+06
2586            467380         5.107394e+05
2653            858310         7.999252e+05
1055           2135528         2.000644e+06
705             447022         5.045008e+05

In [89]:
from sklearn.metrics import r2_score

# Predictions using the best tuned Random Forest model
rf_pred = best_rf_model.predict(X_test)

# Calculate R-squared
r2 = r2_score(y_test, rf_pred)

# Calculate accuracy in percentage
accuracy_percentage = r2 * 100

print(f"Accuracy of the best tuned Random Forest model: {accuracy_percentage:.2f}%")

Accuracy of the best tuned Random Forest model: 82.57%

In [ ]:
# pip install joblib

In [90]:
import joblib

# Save the model to a file
model_filename = 'random_forest_regressor.pkl'
joblib.dump(best_rf_model, model_filename)

['random_forest_regressor.pkl']

In [91]:
loaded_model = joblib.load(model_filename)

In [92]:
print(loaded_model)

RandomForestRegressor(max_depth=20, min_samples_leaf=4, n_estimators=300)

In [93]:
y.head(10)

0     594125
1     905500
2    1459521
3     395563
4    1813704
5     440285
6     631603
7     318501
8     656037
9     675504
Name: AvgSalary, dtype: int32

In [94]:
df.columns

Index(['AvgSalary', 'MinSalary', 'MaxSalary', 'AvgExperience', 'Company_Job'], dtype='object')

In [101]:
N = 4
# df.iloc[N]

value_pred = X.iloc[N].to_list()
value_pred = value_pred[:]
print(value_pred)

predictions = loaded_model.predict([value_pred])

print(predictions)

[3.8, 34.2, 12.5, 448.0]
[1820809.12998776]

C:\Users\chand\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [119]:
loaded_model.predict([[3.8, 34.2, 12.5, 448]])

C:\Users\chand\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([1820809.12998776])

In [121]:
# check model accuracy
r2_score(y_test,predicted_avg_salary)

0.8256573318227556